{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
  <title>SysDesEng Reporting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../dist/img/favicon.ico">

  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../dist/img/apple-touch-icon-precomposed-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../dist/img/apple-touch-icon-precomposed-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../dist/img/apple-touch-icon-precomposed-76.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../dist/img/apple-touch-icon-precomposed-72.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../dist/img/apple-touch-icon-precomposed-180.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../dist/img/apple-touch-icon-precomposed-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../dist/img/apple-touch-icon-precomposed-57.png">

  <link href="{% static 'css/patternfly.css' %}" rel="stylesheet" media="screen, print">
  <link href="{% static 'css/patternfly-additions.min.css' %}" rel="stylesheet" media="screen, print">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

  <script src="{% static 'js/patternfly.min.js' %}"></script>
</head>
<body>
  {% include "reporting/navigation.html" %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="page-header page-header-bleed-right">
          <div class="actions pull-right">
            <a ng-click='refresh()'><span class="pficon pficon-refresh"></span> Refresh Results</a>
          </div>
          <h1>Systems Design and Engineering Assignments</h1>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div id="syseng_cards_chart" pf-c3-chart config="syseng_cards_chart_config"></div>
          </div>
          <div class="col-sm-3">
            <div id="projectgroup_chart" pf-c3-chart config="projectgroup_chart_config"></div>
          </div>
          <div class="col-sm-3">
            <div id="product_chart"></div>
          </div>
          <div class="col-sm-3">
          </div>
        </div><!-- charts row -->

        <hr/>
        <div class="container-fluid">
          <!-- https://scotch.io/tutorials/sort-and-filter-a-table-using-angular -->
          <div class="col-md-12" ng-show='authorized'>
            <table id="cardDataTable" class="table table-bordered table-striped datatable">
              <thead>
                <tr>
                  <td>Status</td>
                  <td>Title</td>
                  <td>Members</td>
                  <td>Tags</td>
                  <td>Funding</td>
                  <td>Detailed Status</td>
                  <td>Last Updated</td>
                </tr>
              </thead>
              <tbody>{% for project in all_syseng_assignments %}
                <tr>
                  <td><span class="label label-{{ project.label }}"><span class="pficon-info"></span> {{ project.status }}</td>
                  <td><a href="https://trello.com/c/{{ project.id }}">{{ project.name }}</a></td>
                  <td>{{ project.member }} </td>
                  <td>{{ project.tags }}</td>
                  <td>{{ project.funding_buckets }}</td>
                  <td>{{ project.detailed_status }}</td>
                  <td>{{ project.last_updated }}</td>
                </tr>{% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr/>
      </div><!-- /col -->


  </div>

  {% include "reporting/footer.html" %}

  <script>
    // Initialize Datatables
    $(document).ready(function() {
      $('#cardDataTable').dataTable();
    });
  </script>
</body>
</html>
