<nav class="navbar navbar-default navbar-pf" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Systems Design and Engineering</a>
  </div>

  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="pficon pficon-user"></span> Trello <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li ng-hide='authorized'>
            <button ng-click='authorize()' class='btn btn-link'>authorize</button>
          </li>
          <li ng-show='authorized'> {{ full_name }} </li>
          <li ng-show='authorized' class="divider"></li>
          <li ng-show='authorized'>
            <button class='btn btn-link' ng-click='deauthorize()'>deauthorize</button>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary">
      <li>
        <a href="/reporting/">Reporting Dashboard</a>
      </li>
      <li>
        <a href="/reporting/projects">all Projects</a>
      </li>
      <li>
        <a href="/reporting/assignments/unrelated">unrelated Assignments</a>
      </li>
      <li>
        <a href="/reporting/granular">Granular Report</a>
      </li>
    </ul>
  </div>
</nav>
